.git
.github
.venv
.vscode
.env

__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python

*.md
**/*~
*.log
**/.DS_Store
**/._*
**/Thumbs.db
*.db

concepts
**/date_dict.json
**/sample_songlist.json


config/*
plugins/*
logs/*